@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";
@tailwind utilities;

body {
    background-color: #0b131E;
    color: #F0F1F1;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #08131E;
}

::-webkit-scrollbar-thumb {
    background: #202B3B;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #35455E;
}

