@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global scrollbars, background, typography */
:root {
  color-scheme: dark;
}

body {
  @apply text-slate-100 antialiased;
}